{% for comments in commentary %}
                    <p>
                        <h1 id="name">Arthur :
                            <button type="button" class="btn btn-default btn-xs" onclick="showEditBox()">
                                <span id ="salope" class="glyphicon glyphicon-pencil " style="color:black;" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-remove " style="color:red;" aria-hidden="true"></span>
                            </button>
                        </h1>
                    <div id="t">
                        {{ comments.text }}
                    </p>
                    </div>
{% endfor %}
<script type="text/javascript">
    var bool = false;
    function showEditBox() {

        var container = document.getElementById("t");
        if(bool){
            container.innerHTML = document.getElementById("ta").value;
            var span =  document.getElementById("salope");
            span.className = "glyphicon glyphicon-pencil";
            bool = false;
        }
        else {
            if (container) {
                var area = document.createElement("textarea");
                area.id = "ta";
                area.style.height = container.offsetHeight + "px";
                area.style.width =container.offsetWidth + "px";
                area.innerHTML = container.textContent;
                container.innerHTML ="";
                container.appendChild(area);
                var span =  document.getElementById("salope");
                span.className = "glyphicon glyphicon-ok";
                bool = true;
            }
            else {
                alert("WTF");
            }
        }
    }
</script>